html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: consolas;
    background: #1b213b;
    color: #777;
}

.body-bg {
    background: #f3f4fa !important;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.box .apexcharts-xaxistooltip {
    background: #1b213b;
    color: #fff;
}

#loader {
    border: 2px solid #ffffff;
    border-top: 2px solid #fccf31;
    border-bottom: 2px solid #17ead9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
